[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]
fs_permissions = [{ access = "read-write", path = "./"}]
remappings = [
    'forge-std/=lib/forge-std/src/',
    '@openzeppelin/=lib/openzeppelin-contracts/',
    '@openzeppelin-upgrades/=lib/openzeppelin-contracts-upgradeable/'
]

gas_reports = ["*"]

# A list of ignored solc error codes

# Enables or disables the optimizer
optimizer = true
# The number of optimizer runs
optimizer_runs = 200
# Whether or not to use the Yul intermediate representation compilation pipeline
via_ir = true
# Override the Solidity version (this overrides `auto_detect_solc`)
evm_version = "cancun"
solc_version = "0.8.26"

#[etherscan]
#polygon = { key = "${POLYGON_API_KEY}", chain = 137, url = "https://api.polygonscan.com/api"}
#sepolia = { key = "${ETHERSCAN_API_KEY}" }
#
#[rpc_endpoints]
#holesky = "${HOLESKY_RPC_URL}"
#sepolia = "${SEPOLIA_RPC_URL}"
#local = "${LOCAL_RPC_URL}"
#polygon = "${POLYGON_RPC_URL}"



